{{#each feed}}
    <h1>{{{title}}}</h1>
    <pre class="feed-date">{{date}}</pre>
    <p>{{{description}}}</p>
    <p>{{{content}}}</p>
    <img class="feed-thumbnail" src="{{thumbnail}}">
    <p>More at <span class="cobalt-link" onclick="cobalt.openExternalUrl('{{link}}');">{{link}}</span></p>
    <hr>
{{/each}}
