{{#each rss}}
    <div class="rss-container">
        <div class="rssitem">
            <input type="hidden" name="id" value="{{id}}">
            <span class="rss-main-url" data-url="{{link}}">❖</span> <span
                class="rss-main-title">{{title}}</span>
            <div class="rss-count">❲{{count}}❳</div>
        </div>
    </div>
{{/each}}
