@font-face {
    font-family: 'Roboto-bold';
    src: url('Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

/*
    Dialogs
*/

#dialog {
    font-family: 'Roboto-bold', sans-serif;
    height: auto;
    width: 75%;
    margin: 50% auto auto auto;
    background-color: #424242;
    box-shadow: 0px 2px 10px #000000;
    color: white;
    padding: 20px;
}

#dialog h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

#dialog p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin: 0;
}

#dialog .placeholder {
    margin: 15px 0px;
}

#dialog button {
    text-transform: uppercase;
    border: none;
    background: none;
    font-weight: bold;
    color: #74B3AD;
    margin: 16px 0 0 0;
    padding: 4px 0 0 0;
}

.dialog-right-button {
    float: right;
}

#rssField {
    width: 94%;
    border: 3px solid #FF980E;
    padding: 7px 7px 2px 4px;
}

/*
   common
*/

.cobalt-link {
    color: #3889AB;
    text-decoration: underline;
}