@font-face {
    font-family: 'Roboto-bold';
    src: url('Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

body {
    background-color: #303030;
}

/*
    List RSS
*/

.rss-container {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 1px solid #000000;
    background-color: #000000;
    margin: 5px 0px;
}

.rssitem {
    padding: 12px 6px 12px 12px;
    margin: 0;
}

.rss-count {
    display: block;
    float: right;
    width: 30px;
    margin-left: 10px;
    transform: translateY(25%);
    color: #BCBCBC;
    font-size: 0.7em;
}

.rss-main-title {
    font-family: 'Roboto-bold', sans-serif;
    padding: 0px 10px;
}

/*
    Feed List
*/

#feed-list {
    font-family: 'Roboto', sans-serif;
    color: white;
    word-wrap: break-word;
}

.feed-thumbnail {
    width: 100%;
}

.feed-date {
    text-align: right;
}

/*
     Common
*/

.cobalt-link {
    color: #3889AB;
    text-decoration: underline;
}
